@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

:root {
    --main-bg-color: #36384d;
    --border-input-color: #c8c8c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container, #successContainer {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max-content;
}

#formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
    padding: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

li:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../assets/images/icon-list.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

#labels {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 20px;
}

label {
    flex-grow: 1;
}

#labels p {
    color: red;
    display: none;
}

input {
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border-input-color);
    width: 100%;
}

button {
    cursor: pointer;
    color: white;
    background: black;
    font-family: Roboto;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: box-shadow 0.5s;
}

button:hover {
    background: linear-gradient(to right, #e75e7c, #fe693e);
    box-shadow: 5px 7px 40px -7px#fe693e;
}

#container figure img {
    width: 350px;
}

#successContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
    padding: 75px;
}

#successContainer h1 {
    font-size: 50px;
}

span {
    font-weight: bold;
}

#successContainer figure img {
    justify-self: start;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    #container {
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0px;
        padding: 0px;
    }

    #successContainer {
        width: 100%;
        min-height: 100vh;
    }

    #formContainer {
        max-width: 100%;
        padding: 25px;
    }

    #container figure img {
        width: 96vw;
    }
}